:root {
    --color1: #1bdff1;
    --color2: #ffffff;
    --color3: #444444;
    /*--color1: #fd946c;*/
}

::selection {
    background: var(--color3);
}

html, body {
    font-family: neue-haas-grotesk-text, sans-serif;
    color: var(--color2);
    background: var(--color1);
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 280px;
}

hr {
    background: var(--color2);
    border-radius: 3px;
    height: 2px;
    border: 0;
}

.bottom {
    margin-top: 30px;
}

h1 {
    color: var(--color3);
    font-size: 72px;
    letter-spacing: 5px;
}

.main {
    margin: 7% 5% 0 5%;
    display: flex;
    justify-content: left;
}

.footer {
    display: flex;
    justify-content: space-between;
    background: var(--color1);
}

.left-tab {
    margin-top: 70px;
    padding-right: 1%;
}

.left-tab .test:hover {
    color: var(--color2);
    background: var(--color1);
}

.reload-button {
    margin: 0;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    color: var(--color3);
    font-size:20px;
    border-radius: 3px;
    border: 0;
    background-size: cover;
    background: var(--color2);
}

.left-tab .reload-button:hover {
    background: var(--color1);border-radius: 90px;
}

.reload-circle {
    position: absolute;
    margin-top: 12px;
    width: 32px;
    height: 32px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    background: var(--color3);
}

.left-tab button:hover .reload-circle{
    background: var(--color2);
}

.reload-arrow-right {
    position: absolute;
    border-top: 9px solid var(--color3);;
    border-bottom: 9px solid var(--color2);
    border-left: 9px solid var(--color2);
    border-right: 9px solid var(--color2);;
    transform: rotate(-135deg);
    margin-top: 5px;
    margin-right: 5px;
}

.left-tab button:hover .reload-arrow-right {
    border-top: 9px solid var(--color2);;
    border-bottom: 9px solid var(--color1);
    border-left: 9px solid var(--color1);
    border-right: 9px solid var(--color1);;
}

.reload-circle-mid {
    position: absolute;
    margin-top: 16px;
    width: 24px;
    height: 24px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    background: var(--color2);
}

.left-tab button:hover .reload-circle-mid{
    background: var(--color1);
}


.reload-rectangle {
    position: absolute;
    margin-top: 16px;
    width: 24px;
    height: 24px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    background: var(--color1);
}

.right-tab {
    width: 100%;
    margin-right: 5%;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-between;
}

.tab {
    padding: 2%;
    color: var(--color1);
    background: var(--color2);
}

.left {
    width: 70%;
    margin-right: 1%;
}

.buttons-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button-active, .button-inactive{
    margin: 0;
    width: 56px;
    height: 56px;
    color: var(--color2);
    background: var(--color3);
    display:inline-block;
    font-size:20px;
    border-radius: 3px;
    border: 0 solid #000000;
}

.button-active:hover {
    color: var(--color3);
    background: var(--color2);
}

.button-inactive {
    color: var(--color1);
    background: var(--color2);
}

.right {
    width: 25%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 70px 20px 0 20px;
}

.menu button:hover {
    font-weight: bold;
}

.gallows-0 {
    position: absolute;
    margin-top: 250px;
    width: 175px;
    height: 25px;
    background: var(--color3);
}

.gallows-1 {
    position: absolute;
    margin-left: 146px;
    width: 30px;
    height: 250px;
    background: var(--color3);
}

.gallows-2 {
    position: absolute;
    width: 175px;
    height: 27px;
    background: var(--color3);
}

.gallows-3 {
    position: absolute;
    margin-right: 45px;
    width: 8px;
    height: 50px;
    background: var(--color3);
}

.gallows-4 {
    position: absolute;
    margin-top: 50px;
    margin-right: 45px;
    width: 50px;
    height: 55px;
    border-radius: 90px 90px 80px 80px;
    background: var(--color3);
}

.gallows-5 {
    position: absolute;
    margin-top: 100px;
    margin-right: 45px;
    width: 8px;
    height: 100px;
    background: var(--color3);
}

.gallows-6 {
    position: absolute;
    margin-top: 100px;
    margin-right: 5px;
    width: 8px;
    height: 50px;
    background: var(--color3);
    transform: rotate(-135deg);
}

.gallows-7 {
    position: absolute;
    margin-top: 100px;
    margin-right: 80px;
    width: 8px;
    height: 50px;
    background: var(--color3);
    transform: rotate(135deg);
}


.gallows-8 {
    position: absolute;
    margin-top: 185px;
    margin-right: 5px;
    width: 8px;
    height: 50px;
    background: var(--color3);
    transform: rotate(135deg);
}

.gallows-9 {
    position: absolute;
    margin-top: 185px;
    margin-right: 80px;
    width: 8px;
    height: 50px;
    background: var(--color3);
    transform: rotate(-135deg);
}